mixin saleLeaders
  .catalog__area 
    .w
      .block__title 
        h2 Лидеры продаж
    .catalog.w 
      each item in catalog1
        .card(id=item.id)
          .card__icons  
            //- span.percentIcon.fa.fa-percent
            span.saleLeaderIcon.fa.fa-thermometer-full(title="Лидер продаж")
          .card__fav 
            span.icon-eheart3
            //- span.icon-eheart3fill
          .card__img
            img(src="https://mirchasov64.ru/assets/images/products/"+item.id+"/"+item.img, alt=item.title)
          .card__info 
            .card__title!= item.title
          .card__priceArea
            span.price!= item.price 
            | !{' '}Р
            //-span.fa.fa-rub
          .card__buyBtn Купить
      each item in catalog1
        .card(id=item.id)
          .card__icons  
            span.percentIcon.icon-percentage
            //- span.saleLeaderIcon.fa.fa-thermometer-full(title="Лидер продаж")
          .card__fav 
            //- span.icon-eheart3
            span.icon-eheart3fill
          .card__img
            img(src="https://mirchasov64.ru/assets/images/products/"+item.id+"/"+item.img, alt=item.title)
          .card__info 
            .card__title!= item.title
          .card__priceArea
            span.price!= item.price 
            | !{' '}Р
            //-span.fa.fa-rub
          .card__buyBtn Купить
